body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('img/fondo.jpg'); /* Cambia esta ruta por la de tu imagen */
  background-size: cover; /* Hace que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  font-family: 'Arial', sans-serif;
  flex-direction: column;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  color: #d32f2f;
}

.buttons {
  margin-top: 20px;
}

.yes-button, .no-button {
  font-size: 1.5em;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.yes-button {
  background-color: #4CAF50; /* Verde */
  color: white;
}

.no-button {
  background-color: #f44336; /* Rojo */
  color: white;
}

.yes-button:hover {
  background-color: #45a049;
}

.no-button:hover {
  background-color: #d32f2f;
}
