body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('img/fondo.jpg'); /* Cambia esta ruta por la de tu imagen */
  background-size: cover; /* Hace que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  font-family: 'Arial', sans-serif;
  flex-direction: column;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  color: #000000;
}

.buttons {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  align-items: center; /* Centra los botones */
  gap: 10px; /* Espacio entre los botones */
}

.yes-button, .no-button {
  font-size: 1.5em;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.yes-button {
  background-color: #4CAF50; /* Verde */
  color: white;
}

.no-button {
  background-color: #f44336; /* Rojo */
  color: white;
}

.yes-button:hover {
  background-color: #45a049;
}

.no-button:hover {
  background-color: #d32f2f;
}

.explanation {
  margin-top: 20px;
  padding: 10px;
  background-color: #e0e0e0; /* Fondo gris claro para el recuadro */
  border: 2px solid #000; /* Borde negro */
  border-radius: 8px; /* Bordes redondeados */
  font-size: 1.2em;
  text-align: center;
}

.explanation p {
  margin: 0;
  font-weight: bold;
  color: #333;
}